{% extends "base.html" %}

{% block title %}{{ comercio.nombre }} | Uni2{% endblock %}

{% block body_class %} uni2-detail-page{% endblock %}

{% block content %}
<div class="container py-3">
  {% url "web:home" as breadcrumb_comercios_url %}
  {% url "web:actividad_comercial_detalle" comercio.actividad_comercial_id as breadcrumb_actividad_url %}
  {% include "components/breadcrumbs.html" with root_url=breadcrumb_comercios_url|add:"#beneficios" root_label="Comercios" ancestor_url=breadcrumb_actividad_url ancestor_label=comercio.actividad_comercial.nombre current_label=comercio.nombre only %}
</div>

<section class="uni2-service-detail uni2-commerce-detail" aria-labelledby="comercio-title">
  <div class="container pb-5">
    {% include "components/comercio_publico.html" with comercio=comercio en_modal=False only %}
  </div>
</section>
{% endblock %}
