{% if google_analytics_measurement_id %}
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_measurement_id|urlencode }}"
    ></script>
    <script id="uni2-google-analytics-config">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }

        gtag("js", new Date());
        gtag("config", "{{ google_analytics_measurement_id|escapejs }}");
    </script>
{% endif %}
